@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
    height: 64px;
    .logo {
      display: flex;
      align-items: center;
      img {
        width: 40px;
        height: 40px;
      }
      p {
        font-size: 32px;
  
        span {
          color: darkgray;
        }
      }
    }
    nav {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        list-style: none;
        li {
          margin-left: 16px;
          a {
            text-decoration: none;
            color: black;
            font-size: 16px;
          }
        }
      }
    }
  }

  .hero {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: darkgray;
  }
  .hero-left {
    width: 60%;
    padding: 32px;
    img {
      max-width: 100%;
    }
  }
  .hero-right {
    width: 40%;
    padding: 32px 24px;
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 20px;
      margin-bottom: 16px;
    }
    button {
      padding: 8px 8px;
      width: 100%;
      font-size: 16px;
      background-color: rgba(15, 14, 14, 0.733);
      color: white;
      border: none;
      cursor: pointer;
    }
  }
  .information {
    display: flex;
    padding: 32px 24px;
    .info-card {
      display: flex;
      flex-direction: column;
      
    }
    .info-left {
      width: 60%;
      padding: 32px 24px;
      img {
        max-width: 100%;
      }
      h3 {
        font-size: 30px;
      }
      p {
        font-size: 20px;
       
      }
      h2,p{
          margin-bottom: 24px;
      }
      
    }
    .info-right {
      display: flex;
      flex-direction: column;
      width: 40%;
      
      .card {
        display: flex;
        width: 100%;
        padding: 16px;
        img {
          width: 35%;
          
        }
      }
      .info-card{
          display: flex;
          justify-content: center;
          width: 65%;
          padding: 12px 12px;
          h3,p{
              margin-bottom: 8px;
          }
      }
    
    }
  }